/* utilitys */
:root{
    /* basic colors */
    --db-text: #080808;
    --db-buttom: #0061ff;
    --db-bkintro: #b4d0e7;
    --db-bkfooter: #000000;
    /* colors square */
    --db-greensquare: #a2d39b;
    --db-bordesquare: #d1e9cd;
    --db-bordòsquare: #61082b;
    --db-lightblusquare: #0093ce;
    --db-lightorangesquare: #ff1c1c;
    --db-centrasquare: #f5f5f5;
    --db-redsquare: #d5001f;
    --db-bluesquare: #0d2481;
    --db-yellowsquare: #ffd830;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: var(--db-text);
}
.row{
    width: 100%;
    max-width: 1159px;
}
.d-flex
{
    display: flex;
}
ul{
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: var(--db-text);
}
header a:active{
    color: var(--db-text);
}
button{
    background-color: var(--db-buttom);
    color: white;
    border: 0;
    padding: 0.2rem 0.5rem;
}
/* width col */
.col-2{
    width: calc((100% / 12) * 2);
}
.col-2_4{
    width: calc((100% / 12) * 2.4);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.col-3{
    width: calc((100% / 12) * 3);
}
.col-4{
    width: calc((100% / 12) * 4);
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-6{
    width: calc((100% / 12) * 6);
}
.col-7{
    width: calc((100% / 12) * 7);
}
.col-8{
    width: calc((100% / 12) * 8);
}
.col-9{
    width: calc((100% / 12) * 9);
}
/* debug */
/* .debug .col-6{
    background-color: purple;
} */
.debug .col{
    background-color: green;
}

/* #region header */
nav{
    position: fixed;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 20;
    height: 48px;
    border-bottom: 1px solid lightgray;
}
header .row{
    justify-content: space-between;
}
header li{
    padding: 0.5rem 1rem;
    
}
header li a{
    font-size: 0.7rem;
}
/* transicion hover */
header li:hover {
    border-bottom: 2px solid var(--db-buttom);
}
/* #endregion header */
/* #region main */
/* #region intro section */
.intro{
    padding: 3rem 0;
    margin: auto;
    justify-content: center;
    background-color: var(--db-bkintro);
}
.intro > .row{
    flex-direction: column;
    width: calc((100% / 12) * 6);
    height: 30rem;
    background-color: var(--db-bkintro);
}

/* principal row */

.intro > .col{
    
    justify-content: center;
}
.col h1{
    font-size: 3rem;
    padding: 2rem 1rem;
}
/* secondary row */
.img{
    position: relative;
}
.intro .col-4{
    flex-direction: column;
    justify-content: center;
    font-size: 0.7rem;
 }
 .intro .col-4 *{
    padding: 0 1rem 1rem;
 }
 .intro .col-4 i{
    font-size: 1.5rem;
    color: black;
 }
.intro img{
    position: absolute;
    max-width: 100%;
    bottom: -24rem;
}
/* #endregion intro section */
/* #region business section */
.business{
    justify-content: center;
    width: calc((100% / 12) * 7);
    margin: auto;
    padding-top: 8rem;
}
.business .row .col h2{
    padding: 2rem 0;
}
.business .row .col:nth-child(2){
    padding: 2rem 0.5rem;
}

.business .row .col:nth-child(3){
    padding: 0 0.5rem;
}
/* card */
.row_card{
    max-width: 1159px;
}
.business .col-4{
    padding: 0 1rem;
    flex-direction: column;
}
.card{
    
    flex-direction: column;
    padding: 1rem;
    border: 1px solid lightgray;
    min-height: 100%;
}
.title{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0.7rem;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    
}
/* section top cards*/
.section_top{
    min-height: 30rem;
}
.section_top span{
    color: gray;
}
.card h4{
    font-size: 1.5rem;
}
.card .col section > *{
    padding: 1rem 0;
}
.card .col{
    min-height: 100%;
}
.or_buy{
    text-decoration: underline;
}
.bord{
    width: 60px;
    border-bottom: 1px solid lightgray;
}

.section_top li{
    padding: 1rem 0; 
}
.section_bottom li p{
    line-height: 1;
    padding-left: 0.5rem;
}
/* section center cards */

/* section bottom cards */
.section_bottom li{
    padding: 1rem 0; 
}
.section_bottom li i{
    color: var(--db-buttom)
}
.section_bottom li p{
    line-height: 1;
    padding-left: 0.5rem;
}
.try button{
    width: 100%;
    padding: 1rem 0.5rem;
}

/* card team */
.card_team{
    padding: 6rem 1.5rem;
}
.card_team > .col{
    border: 1px solid lightgray;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
}
.col-8 p{
    font-size: 0.7rem;
}

/* #endregion business section */
/* #region partner section */

.partner{
    justify-content: center;
    width: calc((100% / 12) * 7);
    margin: auto;
}
.partner .row{
    max-width: 1159px;
    padding: 5rem 1.5rem;
    align-items: center;
}
.partner img{
    max-width: 100%;
}
.partner .col-5 > *{
    padding: 1rem;
}
.partner_button button{
    background-color: white;
    color: var(--db-bkfooter);
    border: 1px solid var(--db-bkfooter);
    padding: 0.5rem 0.5rem;
}
/* #endregion partner section */
/* #region operatio business section */

.operationb{
    justify-content: center;
    width: calc((100% / 12) * 7);
    margin: auto;
    padding: 3rem 1.5rem;
}
.operationb .row{
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.operationb .col-4{
    padding: 1rem;
}
.operationb img{
    max-width: 100%;
}
.operationb .col-4 .row .col *{
    padding: 0.5rem;
}

/* #endregion operatio business section */
/* #region more team section */
.more_team{
    justify-content: center;
    padding: 6rem 0;
}
.more_team .col-7 > h2{
    font-size: 2rem;
}
.more_team .col-7 *{
    padding: 3rem 0;
}
/* #endregion more team section */
/* #region squares section */
.squares > .row_squares{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.row_squares .row{
    height: 21rem;
}
.squares .col-6{
    justify-content: center;
    align-items: center;
    height: calc((100% / 12) * 6);
}
.col-6 svg{
    fill: white;
    width: 50%;
}
/* square left */
.col_left{
    width: calc((100% /12) *4);
}
.col_left .row{
    flex-wrap: wrap;
}
.col_left .col-6{
    height: 50%;
}
.col_left .col-6:nth-child(1){
    background-color: var(--db-greensquare);
    border: 0.5rem solid var(--db-bordesquare);  
}
.col_left .col-6:nth-child(1) svg{
    width: 50%;
}
.col_left .col-6:nth-child(2){
    background-color: var(--db-bordòsquare);
}
.col_left .col-6:nth-child(2) svg{
    width: 50%;
}
.col_left .col-6:nth-child(3){
    background-color: var(--db-lightblusquare);
}
.col_left .col-6:nth-child(3) svg{
    width: 85%;
    max-height: 100%;
}
.col_left .col-6:nth-child(4){
    background-color: var(--db-redsquare);
}
/* square center */
.squares{
    flex-direction: column;
}
.col_center{
    padding: 2rem;
    width: calc((100% /12) *8);
}
.ilogo svg{
    height: 3rem;
    margin-left: -7rem;
}
.col_center p{
    padding-top: 3rem;
}
/* square right */
.col_right{
    width: calc((100% /12) *4);
}
.col_right .row{
    flex-wrap: wrap;
}
.col_right .col-6:nth-child(1){
    background-color: var(--db-redsquare);
}
.col_right .col-6:nth-child(2){
    background-color: var(--db-bkintro);
}
.col_right .col-6:nth-child(3){
    background-color: var(--db-bluesquare);
}
.col_right .col-6:nth-child(4){
    background-color: var(--db-yellowsquare);
}
/* square bottom */
.row_bottom{
    justify-content: center;
    background-color: var(--db-bkintro);
}
.row_bottom > div{
    max-width: 1159px;
    padding: 1rem 0;
    color: var(--db-bordòsquare);
}
.row_bottom .col-6{
    padding: 4rem;
}
.row_bottom .tryb button{
    background-color: #f5f5f5;
    color: rgb(56, 55, 55);
    border: 0;
    padding: 0.5rem 2rem;
}
/* #endregion squares section */
/* #region faq section */
.faq{
    justify-content: center;
}
.faq .row{
    flex-direction: column;
    padding: 5rem 0;
}
.faq h2{
    border-top: 1px solid lightgray;
}
.faq .title_faq > *{
    padding: 2rem 0;
    border-bottom: 1px solid lightgray;
}
.row_quest{
    justify-content: space-between;
}
/* Questions */
.ans{
    display: none;
    transition: 5s;
}
.faq .col:active .ans{
    display: block;
}
/* #endregion faq section */
/* #endregion main */
/* #region footer */
footer{
    background-color: var(--db-bkfooter);
    justify-content: center
}
footer .row{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 0;
}
.col-2_4 *{
    color: white;
    text-decoration: none;
}
.col-2_4 h4{
    padding: 1rem 0;
}
.col-2_4 a{
    padding: 0.5rem 0;
}
/* #endregion footer */
