/* utilitys */
:root{
    /* basic colors */
    --db-text: #080808;
    --db-buttom: #0061ff;
    --db-bkintro: #b4d0e7;
    --db-bkfooter: #000000;
    /* colors square */
    --db-greensquare: #a2d39b;
    --db-bordesquare: #d1e9cd;
    --db-bordòsquare: #61082b;
    --db-lightblusquare: #0093ce;
    --db-lightorangesquare: #ff1c1c;
    --db-centrasquare: #f5f5f5;
    --db-redsquare: #d5001f;
    --db-bluesquare: #0d2481;
    --db-yellowsquare: #ffd830;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: var(--db-text);
}
.row{
    width: 100%;
    max-width: 1159px;
}
.d-flex
{
    display: flex;
}
ul{
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: var(--db-text);
}
header a:active{
    color: var(--db-text);
}
.col-3{
    width: calc((100% / 12) * 3);
}
.col-4{
    width: calc((100% / 12) * 4);
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-6{
    width: calc((100% / 12) * 6);
}
.col-7{
    width: calc((100% / 12) * 7);
}
.col-8{
    width: calc((100% / 12) * 8);
}
.col-9{
    width: calc((100% / 12) * 9);
}
/* debug */
.debug .col-6{
    background-color: purple;
}
.debug .col{
    background-color: green;
}

/* #region header */
nav{
    height: 55px;
    position: fixed;
    width: 100%;
    background-color: white;
    justify-content: center;
}
header .row{
    justify-content: space-between;
}
header li{
    padding: 1rem 0;
}
header li a{
    font-size: 0.7rem;
    padding: 0 0.5rem;
}



/* #endregion header */
/* #region main */
main{
    
}
/* #region intro section */
.intro{
    padding: 55px 0;
    margin: auto;
    justify-content: center;
    background-color: var(--db-bkintro);
}
.intro > .row{
    flex-direction: column;
    width: calc((100% / 12) * 6);
    height: 24rem;
    background-color: var(--db-bkintro);
}

/* principal row */

.intro > .col{
    
    justify-content: center;
}
.col h1{
    font-size: 3rem;
    padding: 2rem 1rem;
}
/* secondary row */
.img{
    position: relative;
}
.intro .col-4{
    flex-direction: column;
    justify-content: center;
    font-size: 0.7rem;
 }
 .intro .col-4 *{
    padding: 0 1rem 1rem;
 }
.intro img{
    position: absolute;
    max-width: 100%;
}
/* #endregion intro section */
/* #region business section */
.business{
    justify-content: center;
    width: calc((100% / 12) * 7);
    margin: auto;
    padding-top: 8rem;
}
.business .row .col h2{
    padding: 2rem 0;
}
.business .row .col:nth-child(2){
    padding: 2rem 0;
}
.business .row .col:nth-child(3){
    justify-content: center;
    padding: 0 0.5rem;
}
/* card */
.row_card{
    max-width: 1159px;
}
.business .col-6{
    padding: 0 1rem;
}
.card{
    border: 1px solid lightgray;
    flex-direction: column;
    padding: 1rem;
}
.title{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0.7rem;
    justify-content: center;
    font-size: 1rem;
    
}
/* section top cards*/
.section_top{
    min-height: 26rem;
}
.card h4{
    font-size: 1.5rem;
}
.card .col *{
    padding: 1rem 0;
}
.tryb{
justify-content: center;
}
.or_buy{
    text-decoration: underline;
}
.bord{
    width: 60px;
    border-bottom: 1px solid lightgray;
}
/* section center cards */
.section_center{
    min-height: 10rem;
}

/* section bottom cards */
.section_bottom{
    min-height: 30rem;
}
/* card team */
.card_team{
    padding: 3rem 1.5rem;

}
.card_team > .col{
    border: 1px solid lightgray;
    padding: 0.7rem;
    justify-content: center;
}
.col-8 p{
    font-size: 0.7rem;
}
/* #endregion business section */
/* #region partner section */

.partner{
    justify-content: center;
    width: calc((100% / 12) * 7);
    margin: auto;
}
.partner .row{
    max-width: 1159px;
    padding: 5rem 1.5rem;
    align-items: center;
}
.partner img{
    max-width: 100%;
}
.partner .col-5 *{
    padding: 1rem;
}
/* #endregion partner section */
/* #region operatio business section */

.operationb{
    justify-content: center;
    width: calc((100% / 12) * 7);
    margin: auto;
    padding: 3rem 1.5rem;
}
.operationb .row{
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.operationb .col-4{
    padding: 1rem;
}
.operationb img{
    max-width: 100%;
}
.operationb .col-4 .row .col *{
    padding: 0.5rem;
}

/* #endregion operatio business section */

/* #endregion main */


